.sign{
    padding: 10px 20px 10px 20px;
    width: 7rem;
    margin: 0px 30px;
}
.butn_head{
    padding-top: 50px;
    text-align: center;
}
label ins{
  font-size: 22px;
  font-weight: bold;
}
.log{
    width: 600px !important;
}
.butn{
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .log{
        width: 300px !important;
    }
} 